@page "/truy-thu-trich-nop"
@rendermode InteractiveServer

<div class="h-breadcrumb d-flex justify-content-between align-items-center">
    <div style="width: 100%;">
        <ol class="breadcrumb mx-2 py-1" aria-label="breadcrumbs">
            <li class="breadcrumb-item"><a href="#">Tính lương</a></li>
            <li class="breadcrumb-item"><a href="#">Chứng từ - Quyết định</a></li>
            <li class="breadcrumb-item active" aria-current="page"><a href="#">Truy thu trích nộp</a></li>
        </ol>
    </div>
    <div style="width: fit-content; cursor: pointer;">
        <i class="fa-regular fa-star px-2"></i>
    </div>
</div>

<div class="h-content-filter">
    <div class="card card-lg mt-1" style="padding: 5px">
        <div class="row row-gap-1">
            <div class="col-12">
                <div>
                    <div class="accordion" id="accordion-info">
                        <div class="accordion-item" style="border: none">
                            <span class="accordion-header" id="heading-1">
                                <button class="accordion-button " style="padding-top: 1px; padding-bottom: 1px;padding-left: 5px;"
                                        type="button" data-bs-toggle="collapse" data-bs-target="#collapse-info" aria-expanded="true">
                                    <h4 class="mb-0 w1FontSize">Chi tiết phiếu</h4>
                                </button>
                            </span>
                            <div style="border-bottom: 1px solid var(--tblr-border-color); margin-top: 2px"></div>
                            <div id="collapse-info" class="accordion-collapse collapse show" data-bs-parent="#accordion-info">
                                <div class="accordion-body p-2">
                                    <div class="row row-gap-2">
                                        <div class="col-md-6 col-sm-12">
                                            <div class="d-flex ">
                                                <label for="SoPhieu" class="h-label" style="width: 130px">
                                                    Nhân viên <span style="color: red;">&nbsp;*</span>
                                                </label>
                                                <div style="width: calc(100% - 130px)">
                                                    <div class="vInputContentWrapper">
                                                        <DxTextBox @bind-Text="@SelectModel.tenNhanVien" Enabled="true">
                                                            <Buttons>
                                                                <DxEditorButton IconCssClass="fas fa-search"
                                                                                Tooltip="Send Email" Click="@ShowPopupHandler" />
                                                            </Buttons>
                                                        </DxTextBox>
                                                    </div>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-12">
                                            <div class="d-flex ">
                                                <label for="SoPhieu" class="h-label" style="width: 130px">
                                                    Id <span style="color: red;">&nbsp;*</span>
                                                </label>
                                                <div style="width: calc(100% - 130px)">
                                                    <div class="vInputContentWrapper">
                                                        <DxTextBox @bind-Text="@SelectModel.maNhanVien" Enabled="true"></DxTextBox>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-12">
                                            <DxCheckBox @bind-Checked="@SelectModel.daTruyThu">Đã truy thu</DxCheckBox>
                                        </div>
                                        
                                    </div>
                                    <div class="row row-gap-2 mt-2">
                                        <div class="col-md-6 col-sm-12">
                                            <div class="row row-gap-2">
                                                <div class="col-md-6 col-sm-12">
                                                    <div class="d-flex ">
                                                        <label for="SoPhieu" class="h-label" style="width: 130px">
                                                            Tháng trích nộp <span style="color: red;">&nbsp;*</span>
                                                        </label>
                                                        <div style="width: calc(100% - 130px)">
                                                            <div class="vInputContentWrapper">
                                                                <DxSpinEdit @bind-Value="@SelectModel.thangTrichNop" InputCssClass="text-end" />
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-sm-12">
                                                    <div class="d-flex ">
                                                        <label for="SoPhieu" class="h-label" style="width: 130px">
                                                            Năm trích nộp <span style="color: red;">&nbsp;*</span>
                                                        </label>
                                                        <div style="width: calc(100% - 130px)">
                                                            <div class="vInputContentWrapper">
                                                                <DxSpinEdit @bind-Value="@SelectModel.namTrichNop" InputCssClass="text-end" />
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-sm-12">
                                                    <div class="d-flex ">
                                                        <label for="SoPhieu" class="h-label" style="width: 130px">
                                                            Tháng truy thu <span style="color: red;">&nbsp;*</span>
                                                        </label>
                                                        <div style="width: calc(100% - 130px)">
                                                            <div class="vInputContentWrapper">
                                                                <DxSpinEdit @bind-Value="@SelectModel.thangTruyThu" InputCssClass="text-end" />
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-sm-12">
                                                    <div class="d-flex ">
                                                        <label for="SoPhieu" class="h-label" style="width: 130px">
                                                            Năm truy thu <span style="color: red;">&nbsp;*</span>
                                                        </label>
                                                        <div style="width: calc(100% - 130px)">
                                                            <div class="vInputContentWrapper">
                                                                <DxSpinEdit @bind-Value="@SelectModel.namTruyThu" InputCssClass="text-end" />
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-sm-12">
                                                    <div class="d-flex ">
                                                        <label for="SoPhieu" class="h-label" style="width: 130px">
                                                            Lương cơ bản <span style="color: red;">&nbsp;*</span>
                                                        </label>
                                                        <div style="width: calc(100% - 130px)">
                                                            <div class="vInputContentWrapper">
                                                                <DxSpinEdit @bind-Value="@SelectModel.luongCoBan" InputCssClass="text-end" />
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-sm-12">
                                                    <div class="d-flex ">
                                                        <label for="SoPhieu" class="h-label" style="width: 130px">
                                                            Phụ cấp lương <span style="color: red;">&nbsp;*</span>
                                                        </label>
                                                        <div style="width: calc(100% - 130px)">
                                                            <div class="vInputContentWrapper">
                                                                <DxSpinEdit @bind-Value="@SelectModel.phuCapLuong" InputCssClass="text-end" />
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-sm-12">
                                                    <div class="d-flex ">
                                                        <label for="SoPhieu" class="h-label" style="width: 130px">
                                                            Phụ cấp BHXH <span style="color: red;">&nbsp;*</span>
                                                        </label>
                                                        <div style="width: calc(100% - 130px)">
                                                            <div class="vInputContentWrapper">
                                                                <DxSpinEdit @bind-Value="@SelectModel.phuCapBHXH" InputCssClass="text-end" />
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-sm-12">
                                                    <div class="d-flex ">
                                                        <label for="SoPhieu" class="h-label" style="width: 130px">
                                                            Lương BHXH <span style="color: red;">&nbsp;*</span>
                                                        </label>
                                                        <div style="width: calc(100% - 130px)">
                                                            <div class="vInputContentWrapper">
                                                                <DxSpinEdit @bind-Value="@SelectModel.luongBHXH" InputCssClass="text-end" />
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-sm-12">
                                                    <div class="d-flex ">
                                                        <label for="SoPhieu" class="h-label" style="width: 130px">
                                                            Lương BHTN <span style="color: red;">&nbsp;*</span>
                                                        </label>
                                                        <div style="width: calc(100% - 130px)">
                                                            <div class="vInputContentWrapper">
                                                                <DxSpinEdit @bind-Value="@SelectModel.luongBHTN" InputCssClass="text-end" />
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-6 col-sm-12">
                                            <div class="row row-gap-2">
                                                <div class="col-md-6 col-sm-12">
                                                    <div class="d-flex ">
                                                        <label for="SoPhieu" class="h-label" style="width: 130px">
                                                            BHXH CTY đóng
                                                        </label>
                                                        <div style="width: calc(100% - 130px)">
                                                            <div class="vInputContentWrapper">
                                                                <DxSpinEdit @bind-Value="@SelectModel.bhxhCty" InputCssClass="text-end" />
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-sm-12">
                                                    <div class="d-flex ">
                                                        <label for="SoPhieu" class="h-label" style="width: 130px">
                                                            BHXH NV đóng
                                                        </label>
                                                        <div style="width: calc(100% - 130px)">
                                                            <div class="vInputContentWrapper">
                                                                <DxSpinEdit @bind-Value="@SelectModel.bhxhNV" InputCssClass="text-end" />
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-sm-12">
                                                    <div class="d-flex ">
                                                        <label for="SoPhieu" class="h-label" style="width: 130px">
                                                            BHYT CTY đóng
                                                        </label>
                                                        <div style="width: calc(100% - 130px)">
                                                            <div class="vInputContentWrapper">
                                                                <DxSpinEdit @bind-Value="@SelectModel.bhytCty" InputCssClass="text-end" />
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-sm-12">
                                                    <div class="d-flex ">
                                                        <label for="SoPhieu" class="h-label" style="width: 130px">
                                                            BHYT NV đóng
                                                        </label>
                                                        <div style="width: calc(100% - 130px)">
                                                            <div class="vInputContentWrapper">
                                                                <DxSpinEdit @bind-Value="@SelectModel.bhytNV" InputCssClass="text-end" />
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-sm-12">
                                                    <div class="d-flex ">
                                                        <label for="SoPhieu" class="h-label" style="width: 130px">
                                                            BHTN CTY đóng
                                                        </label>
                                                        <div style="width: calc(100% - 130px)">
                                                            <div class="vInputContentWrapper">
                                                                <DxSpinEdit @bind-Value="@SelectModel.bhtnCty" InputCssClass="text-end" />
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-sm-12">
                                                    <div class="d-flex ">
                                                        <label for="SoPhieu" class="h-label" style="width: 130px">
                                                            BHTN NV đóng
                                                        </label>
                                                        <div style="width: calc(100% - 130px)">
                                                            <div class="vInputContentWrapper">
                                                                <DxSpinEdit @bind-Value="@SelectModel.bhtnNV" InputCssClass="text-end" />
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-sm-12">
                                                    <div class="d-flex ">
                                                        <label for="SoPhieu" class="h-label" style="width: 130px">
                                                            BHTN LĐ
                                                        </label>
                                                        <div style="width: calc(100% - 130px)">
                                                            <div class="vInputContentWrapper">
                                                                <DxSpinEdit @bind-Value="@SelectModel.bhtnLD" InputCssClass="text-end" />
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-sm-12">
                                                    <div class="d-flex ">
                                                        <label for="SoPhieu" class="h-label" style="width: 130px">
                                                            Ghi chú
                                                        </label>
                                                        <div style="width: calc(100% - 130px)">
                                                            <div class="vInputContentWrapper">
                                                                <DxMemo @bind-Text="@SelectModel.ghiChu" BindValueMode="@BindValueMode.OnInput"
                                                                        Rows="2" InputId="ghiChu" />
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    </div>
    
    <div class="card card-lg mt-2" style="padding: 5px">
        <div class="row row-gap-2">
            <div class="col-12">
                <div class="accordion" id="accordion-info-detail">
                    <div class="accordion-item" style="border: none">
                        <span class="accordion-header" id="heading-1">
                            <button class="accordion-button " style="padding-top: 1px; padding-bottom: 1px;padding-left: 5px;"
                                    type="button" data-bs-toggle="collapse" data-bs-target="#collapse-info-detail" aria-expanded="true">
                                <h4 class="mb-0 w1FontSize">Danh sách truy thu trích nộp nhân viên</h4>
                            </button>
                        </span>
                        <div style="border-bottom: 1px solid var(--tblr-border-color); margin-top: 2px"></div>
                        <div id="collapse-info" class="accordion-collapse collapse show" data-bs-parent="#accordion-info">
                            <div class="accordion-body p-2">
                                <div class="row row-gap-2">
                                    <div class="col-lg-5 col-md-6 col-sm-12">
                                        <div class="d-flex ">
                                            <label for="SoPhieu" class="h-label" style="width: 200px">
                                                Truy thu Từ tháng/Đến tháng
                                                <span style="color: red;">&nbsp;*</span>
                                            </label>
                                            <div style="width: calc(100% - 200px)">
                                                <div class="d-flex justify-content-between">
                                                    <div style="width: 50%;">
                                                        <DxDateEdit @bind-Date="@TuNgay" DisplayFormat="MM/yyyy" Mask="MM/yyyy" Format="MM/yyyy" Id="dateTuNgay" />
                                                    </div>
                                                    <div style="width: 50%; margin-left: 2px;">
                                                        <DxDateEdit @bind-Date="@DenNgay" DisplayFormat="MM/yyyy" Mask="MM/yyyy" Format="MM/yyyy" Id="dateDenNgay" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <DxGrid Data="ListGrids"
                                                ShowFilterRow="true"
                                                ColumnResizeMode="GridColumnResizeMode.NextColumn"
                                                PagerPosition="GridPagerPosition.Bottom"
                                                PageSizeSelectorVisible="true"
                                                PageSizeSelectorItems="@(new int[] { 10, 20, 100 })"
                                                PageSizeSelectorAllRowsItemVisible="true"
                                                PagerSwitchToInputBoxButtonCount="10"
                                                PagerVisibleNumericButtonCount="10"
                                                CssClass="grid-height w1FontSize"
                                                FocusedRowEnabled="true">
                                            <Columns>
                                                <DxGridDataColumn FieldName="@nameof(CollectTaxesArrearModel.maNhanVien)" Caption="Mã NV" MinWidth="110" />
                                                <DxGridDataColumn FieldName="@nameof(CollectTaxesArrearModel.tenNhanVien)" Caption="Tên nhân viên" MinWidth="140" />
                                                <DxGridDataColumn FieldName="@nameof(CollectTaxesArrearModel.phongBan)" Caption="Phòng ban" MinWidth="110" />
                                                <DxGridDataColumn FieldName="@nameof(CollectTaxesArrearModel.thangTrichNop)" Caption="Tháng trích nộp" UnboundType="GridUnboundColumnType.Integer" DisplayFormat="d" MinWidth="110" />
                                                <DxGridDataColumn FieldName="@nameof(CollectTaxesArrearModel.namTrichNop)" Caption="Năm trích nộp" UnboundType="GridUnboundColumnType.Integer" DisplayFormat="d" MinWidth="140" />
                                                <DxGridDataColumn FieldName="@nameof(CollectTaxesArrearModel.luongCoBan)" Caption="Lương cơ bản" UnboundType="GridUnboundColumnType.Decimal" DisplayFormat="#,##0.####" MinWidth="140" />
                                                <DxGridDataColumn FieldName="@nameof(CollectTaxesArrearModel.phuCapLuong)" Caption="Phụ cấp lương" UnboundType="GridUnboundColumnType.Decimal" DisplayFormat="#,##0.####" MinWidth="110" />
                                                <DxGridDataColumn FieldName="@nameof(CollectTaxesArrearModel.phuCapBHXH)" Caption="Phụ cấp BHXH" UnboundType="GridUnboundColumnType.Decimal" DisplayFormat="#,##0.####" MinWidth="110" />
                                                <DxGridDataColumn FieldName="@nameof(CollectTaxesArrearModel.luongBHXH)" Caption="Lương đóng BHXH" UnboundType="GridUnboundColumnType.Decimal" DisplayFormat="#,##0.####" MinWidth="140" />
                                                <DxGridDataColumn FieldName="@nameof(CollectTaxesArrearModel.luongBHTN)" Caption="Lương đóng BHTN" UnboundType="GridUnboundColumnType.Decimal" DisplayFormat="#,##0.####" MinWidth="140" />
                                                <DxGridDataColumn FieldName="@nameof(CollectTaxesArrearModel.bhxhCty)" Caption="BHXH Cty đóng" UnboundType="GridUnboundColumnType.Decimal" DisplayFormat="#,##0.####" MinWidth="110" />
                                                <DxGridDataColumn FieldName="@nameof(CollectTaxesArrearModel.bhxhNV)" Caption="BHXH NV đóng" UnboundType="GridUnboundColumnType.Decimal" DisplayFormat="#,##0.####" MinWidth="110" />
                                                <DxGridDataColumn FieldName="@nameof(CollectTaxesArrearModel.bhytCty)" Caption="BHYT Cty đóng" UnboundType="GridUnboundColumnType.Decimal" DisplayFormat="#,##0.####" MinWidth="110" />
                                                <DxGridDataColumn FieldName="@nameof(CollectTaxesArrearModel.bhytNV)" Caption="BHYT NV đóng"  UnboundType="GridUnboundColumnType.Decimal" DisplayFormat="#,##0.####" MinWidth="150" />
                                                <DxGridDataColumn FieldName="@nameof(CollectTaxesArrearModel.bhtnCty)" Caption="BHTN Cty đóng" UnboundType="GridUnboundColumnType.Decimal" DisplayFormat="#,##0.####"  MinWidth="150" />
                                                <DxGridDataColumn FieldName="@nameof(CollectTaxesArrearModel.bhtnNV)" Caption="BHTN NV đóng" UnboundType="GridUnboundColumnType.Decimal" DisplayFormat="#,##0.####" MinWidth="150" />
                                                <DxGridDataColumn FieldName="@nameof(CollectTaxesArrearModel.bhtnLD)" Caption="BHTNLD" UnboundType="GridUnboundColumnType.Decimal" DisplayFormat="#,##0.####"  MinWidth="150" />
                                                <DxGridDataColumn FieldName="@nameof(CollectTaxesArrearModel.ghiChu)" Caption="Ghu chú" UnboundType="GridUnboundColumnType.Decimal" DisplayFormat="#,##0.####" MinWidth="150" />
                                                <DxGridDataColumn FieldName="@nameof(CollectTaxesArrearModel.daTruyThu)" Caption="Đã truy thu" UnboundType="GridUnboundColumnType.Boolean" MinWidth="150" />
                                            </Columns>
                                        </DxGrid>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

